@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    background-color: #15202b;
    color:#E7E9EA;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
p{
    padding: 0;
    margin: 4px;
}
#tweet{
    display: flex;
    border-bottom: 1px solid #71767B;
    padding: 12px;
}
.tweet_img{
    margin-right: 8px;
}
@media(max-width: 500px){

}
@media(min-width: 800px){
    body{
        background-color: red;
    }
}